/* Mixins */

    // background tint function
    @mixin background-tint($tint_color, $image_url) {
        background-image: 
        linear-gradient( $tint_color, $tint_color ),
        url( $image_url )
    }

    // center flex
    @mixin flex-center { 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @mixin transition {
        transition: all 200ms ease-in-out;
    }

/* Global Variables */

    $tint-color: rgba(0,0,0,.5);
    $main-bg: "../images/main-background.jpg";

/* Local Variables */

    /* headings */

    $hSize: 3.5rem;
    $hFont: "Pacifico";

    $hColor: #008cff; // standard heading color
    $hShadow: #004a86; // standard heading text-shadow
    $lColor: #eaeaea; // lighter heading color
    $lShadow: #555; // lighter heading text-shadow

    /* desc */

    $dFont: "Indie Flower";
    $dSize: 1.5rem;

/* Styles */

.title {
    font-size: $hSize;
    font-family: $hFont;
    font-weight: 300;
    color: $hColor;
    text-shadow: 2px 2px $hShadow;
}

.title-light {
    color: $lColor;
    text-shadow: 2px 2px $lShadow;
}

.desc {
    font-family: $dFont;
    font-size: $dSize;
    text-shadow: 1.25px 1.25px 1px $lShadow;
}

body {
    @include background-tint($tint-color, $main-bg);
    // background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 100%;
    height: auto;
    position: fixed;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    z-index: 999;

    .options {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;

        // display: none;
    }

    .option {
        font-size: 2rem;
        display: inline-block;
        padding: .5em;

        // max-height: 80px;
        
    
        @include transition();
    }
    .option:hover {
        color: $hColor;
        background-color: rgba(0,0,0,.5);
    }

    .scroll-down {
        width: 100%;
        background-color: rgba(0,0,0,.5);
        right: 0; bottom: 0; left: 0;  
        height: 30px;

        @include flex-center();
        
        cursor: pointer; 
    }
    .scroll-down:hover {
        background-color: rgba(0,0,0,.8);
    }

    .scroll-up {
        display: none;
    }
}

.slide-1 {                                                                           // slide-1
    height: 100vh;
    padding: 1em;

    @include flex-center();
    flex-direction: column;

    position: relative;

    .navbar {
        
    }

    .desc {
        text-align: center;
    }
}